In [2]:
# Import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statistics

In [5]:
#######################################################################################################################################
#
#                                                mR dataset generation
#
#######################################################################################################################################


# Set random seed
np.random.seed(44)

# Create dummy data
x = pd.Series(np.random.normal(loc=10, scale=2, size=10))

# Define list variable for moving ranges
MR = [np.nan]

# Get and append moving ranges
i = 1
for data in range(1, len(x)):
    MR.append(abs(x[i] - x[i-1]))
    i += 1

# Convert list to pandas Series objects    
MR = pd.Series(MR)

# Concatenate mR Series with and rename columns
data = pd.concat([x,MR], axis=1).rename(columns={0:"x", 1:"mR"})

In [6]:
x

0     8.498771
1    12.632715
2    12.492280
3     6.790169
4     7.063713
5     6.569859
6    13.717567
7    10.175176
8     9.895356
9    11.110943
dtype: float64

In [7]:
MR

0         NaN
1    4.133944
2    0.140435
3    5.702112
4    0.273544
5    0.493854
6    7.147708
7    3.542391
8    0.279820
9    1.215588
dtype: float64

In [10]:
data

           x        mR
0   8.498771       NaN
1  12.632715  4.133944
2  12.492280  0.140435
3   6.790169  5.702112
4   7.063713  0.273544
5   6.569859  0.493854
6  13.717567  7.147708
7  10.175176  3.542391
8   9.895356  0.279820
9  11.110943  1.215588

In [17]:

Directorio_out = 'C:/Users/renea/Desktop/Datasets/SPC_dataset/'
Datasource = 'SPC_demo_data_mR.txt'
source = Directorio_out + Datasource

np.savetxt(source, data, fmt = "%.1f", delimiter='\t\t', 
           newline='\n', header='mR Dataset \n\nx             mR\n\n', footer='\n\nAuthor: Ren√© Cartaya')